
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap');




.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
.font-bai {
  font-family: 'Bai Jamjuree', sans-serif;
}

.noise-bg-blend::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/Frame.png");
  background-repeat: repeat;
  opacity: 0.5;
  mix-blend-mode: multiply; /* Options: multiply, overlay, soft-light etc. */
  pointer-events: none;
}



background-image: url('/orangebg.svg');
