
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap');




.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
.font-bai {
  font-family: 'Bai Jamjuree', sans-serif;
}

.noise-bg-blend::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/Frame.png");
  background-repeat: repeat;
  opacity: 0.5;
  mix-blend-mode: multiply; /* Options: multiply, overlay, soft-light etc. */
  pointer-events: none;
}

.gradient-border-wrapper {
  padding: 5px; /* border thickness */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 29px; /* outer radius */
}

.gradient-border-inner {
   /* or your desired background */
  border-radius: 24px; /* slightly less than wrapper for layering */
 
}
.gradient-border-wrapper-top {
  padding: 2px; /* border thickness */
  background: linear-gradient(to top, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
   /* outer radius */
}

.gradient-border-wrapper-bottom {
  padding: 2px; /* border thickness */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
   /* outer radius */
}







